<app-skill-add
               [Skills]="skills">
</app-skill-add>
<div *ngIf="skills" class="container">
        <div *ngFor= "let Skill of skills"   class="col-sm-9 col-sm-offset-1  skillList"  (mouseover)="hoverSkill(Skill)" (mouseleave)="hoverSkill('')"> 
            <div class="eachSkill">
                <div [class.active]="Skill === hoveredSkill"  class="col-lg-8 container skillName">
                    <inline-editor class="" type="text" (onCancel)="updateFlag()" (onFocus) ="updateFlag()" [(ngModel)]="Skill.skillName"  (onSave)="updateSkill($event,Skill)" name="skillName" >
                    </inline-editor><span [hidden]="flag" class="glyphicon glyphicon-pencil"></span>
                </div>
                <div [ngStyle]="{'color' : Skill.status==='Accept'? 'green': 'grey'}" (click)="updateSkillStatus(Skill,'Accept')" class="approve col-lg-2 ">
                    <button type="submit" class="pull-right">
                        <span  class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Accept
                    </button>  
                </div>
                <div [ngStyle]="{'color' : Skill.status==='Reject'? 'red': 'grey'}" (click)="updateSkillStatus(Skill,'Reject')" class="reject col-lg-2">
                    <button type="submit" class="pull-right">
                        <span  class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Reject
                    </button>  
                </div>
            </div>     
        </div>
	</div>