<div *ngIf="skills" class="container">
        <div class="skillHeader col-sm-9 col-lg-offset-1">
            <div class="name col-lg-4">Name</div>
            <div class="col-lg-offset-5 col-lg-3"><button type="submit" (click)="showInp()" class="btn btn-success">Add</button></div>
        </div>
        <div *ngFor= "let Skill of skills"   class="col-sm-9 col-sm-offset-1  skillList"  (mouseover)="hoverSkill(Skill)" (mouseleave)="hoverSkill('')"> 
            <div class="eachSkill">
                <div [class.active]="Skill === hoveredSkill"  class="col-sm-4 container skillName">
                    <inline-editor class="col-sm-9" type="text" (onCancel)="updateFlag()" (onFocus) ="updateFlag()" [(ngModel)]="Skill.skillName"  (onSave)="updateSkill($event,Skill)" name="skillName" >
                    </inline-editor><span [hidden]="flag" class="col-sm-3 glyphicon glyphicon-pencil"></span>
                </div>
                <div [ngStyle]="{'color' : Skill.status==='accept'? 'green': 'grey'}" class="approve col-sm-3 col-sm-offset-1 ">
                    <button type="submit">
                        <span  class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{Skill.status}}
                    </button>  
                </div>
                <div [ngStyle]="{'color' : Skill.status==='reject'? 'red': 'grey'}" class="reject col-sm-3 col-sm-offset-1">
                    <button type="submit">
                        <span  class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{Skill.status}}
                    </button>  
                </div>
            </div>
                
        </div>
	</div>