<!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navul">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><b>logo</b></a>
            </div>
        </div>
    </nav>
	<div class="container">
        <div  class="col-lg-9 col-sm-10 col-sm-offset-1 col-xs-12 col-lg-offset-1 searchContainer">
            <div id="imaginary_container"> 
                <form autocomplete="off" (submit)="findSkill(query)"  class="input-group stylish-input-group">
                    <input type="text" (focus)="showDrop()" (blur)="hideDrop()" (keyup)="findSkill(query)" [(ngModel)]= "query" name="search" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button (focus)="showDrop()" (blur)="hideDrop()" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </form>
            </div>
    <div [hidden]="!show" class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px;position: absolute; z-index: 2;">
        <div *ngFor= "let foundSkill of skillSearch" (click)="highlight=foundSkill" class="skillList"> 
            <div class="eachSkill">
                <div class="col-lg-6 col-xs-8 col-sm-8 skillName">{{foundSkill.skillName}}</div>
                <div *ngIf="foundSkill.status==='Accept'" style="color:green" class="approve col-xs-4 col-sm-4 col-lg-3 col-lg-offset-1 ">
                    <button type="submit">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{foundSkill.status}}
                    </button>  
                </div>
                <div *ngIf="foundSkill.status==='Reject'" ngStyle="{'color':'red'}"class="reject col-xs-4 col-sm-4 col-lg-3 col-lg-offset-1">
                    <button type="submit">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{foundSkill.status}}
                    </button>  
                </div>
            </div>
                
        </div>
	</div> 
        </div>
	</div>
<app-skill-display [highlight]="highlight"></app-skill-display>
    
    